$white: rgba(243, 243, 243, 1);
$green: rgba(0, 135, 102, 1);
$washed-green: rgba(153, 226, 208, 1);
$blue: rgba(0, 58, 104, 1);
$washed-blue: rgba(137, 200, 250, 1);
$purple: rgba(147, 86, 220, 1);
$grey: rgba(234, 234, 234, 1);
$dark-grey: rgba(53, 53, 53, 1);

$gradient-purple: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$gradient-light-purple:  linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

