footer {
  width: 100vw;
  
  .footer__list {
    height: max-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-color: $dark-grey;
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    color: $white;
  }

  ul {
    display: flex;
    gap: 7px;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    svg.fa-utensils {
      margin-right: 5px;
    }

    a {
      display: flex;
      gap: 7px;
      outline: none;
      text-decoration: none;
      color: $white;
    }
  }
}

@media (min-width: 1440px) {
  footer {
    display: flex;
    justify-content: right;
    background-color: $dark-grey;

    .footer__list {
      align-items: flex-end;
      max-width: 1476px;
      flex-direction: row-reverse;
      gap: 6em;
      padding: 3em 4em 2em 1em;
    }

    ul {
      flex-direction: row;
      gap: 3em;

      li {
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
    }

  }
}

   
