* {
  font-family: "Roboto", serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.font-xl {
  font-size: 24px;
  font-weight: 700;
}

.font-l {
  font-size: 18px;
  font-weight: 300;
}

.font-md {
  font-size: 17px;
  font-weight: 300;
}

.font-s {
  font-size: 16px;
  font-weight: 500;
}

.font-brand {
  font-family: "Shrikhand";
}