.btn-primary {
  width: fit-content;
  padding: 1em;
  border: hidden;
  border-radius: 30px;
  background: $gradient-purple;
  color: $white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.btn-primary:hover {
  background: $gradient-purple-hover;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.40);
  transition: 0.5s;
}
