.btn-primary {
    width: fit-content;
    padding: 1em;
    border: hidden;
    border-radius: 30px;
    background: $gradient-purple;
    color: $white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
    animation-timing-function: ease-out;
    animation-duration: 300ms;
    background: $gradient-light-purple,
    linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

// // While hovering
// // Change to: "Hover";
// // Animate: Smart animate;

