.like-wrapper {
  position: relative;
  width: 27px;
  height: auto;
}

.like-wrapper__not-liked {
  opacity: 1;
  transition: all 1s;
}

.like-wrapper__liked {
  opacity: 0;
  width: 27px;
  height: auto;
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.like-wrapper:hover .like-wrapper__liked {
  opacity: 1;
  display: inline-block;
}

.like-wrapper:hover .like-wrapper__not-liked {
  opacity: 0;
  display: inline-block;
}