body {
  position: relative;
}

.menu-picture {
  width: 100%;
}

.menu {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  top: 80%;
  background-color: $background-primary;
  padding: 2em 1em 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border: hidden;
  border-radius: 30px 30px 0 0;

  &__header {
    width: 100%;
    display: flex;
    column-gap: 2em;
    justify-content: space-between;

    h1 {
      font-size: 28px;
      font-weight: 400;
    }
  }

  button {
    padding: 1em 3em;
  }

  section {
    width: 100%;

    h2 {
      width: 40px;
      font-size: 16px;
      font-weight: 300;
      border-bottom: 3px solid rgba(153, 226, 208, 1);
      animation: slide-left-to-right 3000ms 0ms both;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
  }

  li.menu-card:nth-child(1) {
    opacity: 1;
    animation: slide-right-to-left 2000ms 0ms backwards;
  }

  li.menu-card:nth-child(2) {
    opacity: 1;

    animation: slide-right-to-left 2000ms 500ms backwards;
  }

  li.menu-card:nth-child(3) {
    opacity: 1;

    animation: slide-right-to-left 2000ms 1000ms backwards;
  }

}

@media (min-width: 768px) {
  .menu {
    padding-inline: 7em;
  }

  .menu__header {
    justify-content: center;
  }
}

@media (min-width: 1440px) {

  .menu-picture {
    height: 30vh;
    object-fit: cover;
  }

  .menu {
    width: 75%;
    max-width: 1080px;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3em 13em 0 13em;
  }

}

@keyframes slide-right-to-left {
  0% {
    opacity: 0;
    transform: translateX(9999px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-9999px);
  }

  100% {
    transform: translateX(0);
  }
}